<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Phototèque</title>
    </head>
    <body>  
        <section class="sectionBar">
            <h4>Galerie bar</h4>
            <img src="../Ressource/images.jfif">
            <img src="../Ressource/téléchargé (1).jfif">
        </section>
        <section class="sectionSoiree">
            <h4>Galerie soirée</h4>
            <img src="../Ressource/téléchargé (2).jfif">
        </section >
        <section class="sectionEvenement">
            <h4>Galerie evenement</h4>
            <img src="../Ressource/téléchargé (3).jfif">
            <img src="../Ressource/téléchargé.jfif">
        </section>
    </body>
</html>
