<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Phototèque</title>
    </head>
    <body>  
        <section class="sectionBar">
            <h4>Galerie bar</h4>
            <img src="../Ressource/bar1.jfif">
            <img src="../Ressource/bar2.jfif">
        </section>
        <section class="sectionSoiree">
            <h4>Galerie soirée</h4>
            <img src="../Ressource/soiréePizza1.jfif">
            <img src="../Ressource/soiréePizza2.jfif">
            <img src="../Ressource/soiréePizza3.jfif">
        </section >
        <section class="sectionEvenement">
            <h4>Galerie evenement</h4>
            <img src="../Ressource/evenement1.jfif">
            <img src="../Ressource/evenement2.jfif">
        </section>
    </body>
</html>